<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<nav th:replace="layout :: nav"></nav>
<div class="container d-flex justify-content-center" style="margin-top: 20px;">
    <div class="col-md-6 col-md-offset-3">
        <form class="needs-validation" method="post" th:action="@{'/admin/railway-station/update/' +${railwaystation.id}}" th:object="${railwaystation}" novalidate>
            <h2 class="form-signin-heading d-flex justify-content-center" style="">Actualizare statie</h2>
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label><b>Nume</b></label>
                <input required maxlength="100" th:field="*{name}" class="form-control"
                       placeholder="Introduceti numele statiei"/>
                <div class="invalid-feedback">Numele statiei trebuie sa aiba cel mult 100 de caractere.</div>
            </div>

            <div class="form-group">
                <label><b>Tipul statiei</b></label>
                <br>
                <select class="form-select" id="railwayType" th:field="*{railwayType}" required>
                    <option
                            th:each="railwayTypeOpt:${T(com.awbdfirstproject.railwaystationapp.domain.RailwayType).values()}"
                            th:value="${railwayTypeOpt}" th:text="${railwayTypeOpt}">
                    </option>
                </select>
            </div>
            <h3>Adresa</h3>

            <div class="form-group">
                <label><b>Numar</b></label>
                <input required maxlength="10" th:field="*{number}" class="form-control"
                       placeholder="Introduceti numarul strazii"/>
                <div class="invalid-feedback">Numarul strazii trebuie sa aiba cel mult 10 de caractere.</div>
            </div>

            <div class="form-group">
                <label><b>Strada</b></label>
                <input required  th:field="*{street}" class="form-control"
                       placeholder="Introduceti numele strazii"/>
                <div class="invalid-feedback">Numele strazii nu poate fi null.</div>
            </div>
            <input type="hidden" th:field="*{city}"/>
            <input type="hidden" th:field="*{district}"/>
            <input type="hidden" th:field="*{zipcode}"/>

            <button type="submit" class="btn btn-info btn-block">Submit</button>
        </form>

    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>